<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li>
              <a href="https://www.facebook.com/robert.durica.3" target="_blank"><i class="fab fa-facebook-square"></i> Facebook </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/robert-durica" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>
            </li>
            <li>
              <a href="https://twitter.com/RobertDurica" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
            </li>
            <li>
              <a href="https://github.com/rdurica" target="_blank"><i class="fab fa-github"></i> Github</a>
            </li>
          </ul>
        </div>
        <p class="copyright mb-0">Copyright <span id="currentYear"></span> &copy; Robert Ďurica</p>
      </div>
    </div>
  </div>
</footer>
