{% load static %}

<section class="about section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="block">
          <div class="section-title">
            <h2>About Me</h2>
            <p>Programming is not a job. It is a lifestyle</p>
          </div>
          <p>
            My name is Robert Ďurica. I was born in Slovakia but currently live in Czech Republic with girlfriend and one child. For over 5+ years, I am developing software. I mainly focus on the development of web applications and information
            systems of various kinds. During my work places high emphasis on quality, stability, speed and application security. Currently working as Systems engineering lead so development is in second place (mostly in my free time).
          </p>
        </div>
      </div>
      <!-- .col-md-7 close -->
      <div class="col-md-5">
        <div class="block">
          <img src="{% static 'images/wrapper-img.png' %}" alt="Img" />
        </div>
      </div>
      <!-- .col-md-5 close -->
    </div>
  </div>
</section>
