{% load static %}
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>Contact me</h2>
          <p>
            I am an experienced Systems Engineer with a passion for programming and a commitment to continuous learning. I am always open to new opportunities to further develop my skills and advance my career. Connect with me on LinkedIn to see my
            professional experience and endorsements or drop me a line through email r.durica@robbyte.net or fill this contact form below. Let's discuss how my qualifications can align with your project's goals and aspirations.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
        {% endfor %} {% endif %}
        <form action="{% url 'profile_page:home' %}" method="post">
          {% csrf_token %} {% if form.errors %}
          <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
          {% endif %} {{form}}
          <br />
          <input type="submit" value="Send message" class="btn btn-view-works" />
        </form>
      </div>
    </div>
  </div>
</section>
