{% load static %}
<section class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title text-center">
          <h2>Contact me</h2>
          <p>I Have always open mind for new opportunities to move on and improve my skills. <br />Feel free to contact me with this form or directly by email r.durica@robbyte.net</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}}" role="alert">{{ message }}</div>
        {% endfor %} {% endif %}
        <form action="{% url 'profile_page:home' %}" method="post">
          {% csrf_token %} {% if form.errors %}
          <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
          {% endif %} {{form}}
          <br />
          <input type="submit" value="Send message" class="btn btn-view-works" />
        </form>
      </div>
    </div>
  </div>
</section>
