<section class="feature bg-2">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <div class="block">
          <div class="section-title" style="margin-bottom: 16px">
            <h2>MY DEVELOPMENT JOURNEY</h2>
          <p>
            As a Systems Engineering Supervisor with a background in programming, I have a passion for technology and a drive to constantly improve my skills. My journey began with the use of VBA macros in Excel, which sparked my interest in
            programming. I quickly expanded my knowledge to include C#, object-oriented programming, and more. Using my programming skills, I have developed several applications that have helped streamline processes for myself and my colleagues.
          </p>
          <p>
            I had the opportunity to further my career as a Systems Engineer, where I delved into design patterns, databases, web development, Linux and Docker. This led to a specialization in RPA, where I became proficient in Python and took on
            a leadership role in the team.
          </p>

          <p>As a Systems Engineering Supervisor, I continue to program in my free time and consider Python to be my favorite language. I am excited to see where my passion for technology takes me next.</p>
          <a target="_blank" href="https://prace.foxconn.cz/content/Lide-RobertDurica/" class="btn btn-view-works">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
