<section class="feature bg-2">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <div class="block">
          <div class="section-title" style="margin-bottom: 16px">
            <h2>MY DEVELOPMENT JOURNEY</h2>
            <p>Something about me from a technical point of view. I've been into technology and things like that since I was a kid, but programming wasn't my "cup of tea".</p>
          </div>
          <p>
            In my first job i start to use VBA (macros) in excel.When I saw the real results, I realized that this is the path I want to take. It did not take a long and I start learning C#, objects, inherance etc. I have created several applications
            that helped me and my coworkers
          </p>
          <p>
            After some time, the company opened a new position as systems engineer. That was a key moment in my life and the direction which I choose. I started to learn design patterns, databases, PHP, javascript, HTML and other web related
            technologies including linux and docker.
          </p>
          <p>
            After two years, systems engineering were devided into smaller parts and I become part of RPA Team. There we started with Python. To be honest at begining I didnt like it at all but after some time it becomes my favorite language. It did
            not take a long and I become a RPA lead and later I took over rest of systems engineering.
          </p>
          <p>Now I working as Systems Engineering Supervisor. I programming mostly in my free time but python is still my favorite. And what will be next ? We will see ...</p>
          <a target="_blank" href="https://prace.foxconn.cz/content/Lide-RobertDurica/" class="btn btn-view-works">Read more</a>
        </div>
      </div>
    </div>
  </div>
</section>
