<section class="feature bg-2">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <h2 class="section-subtitle">MY DEVELOPMENT JOURNEY</h2>
        <p>
          From childhood i was entertain in technology and that stuff but programming was not mine "cup of tea".In my first job i start to use VBA (macros) in excel.That was my first touch where i saw real benefit of programming. That time i realize
          it is the path whitch i want to follow.
        </p>
        <p>Next logical step for me was to start with something real. I choose C# where i start learning about objects, inherance etc. I produce multiple application in my job which help me or my subordinates at work.</p>
        <p>After a while open a position in my company as systems engineer. This was a breaking change in my life and carrier. I start to learn design patterns, PHP, javascript, HTML and other web related technologies including linux.</p>
        <p>After a two years move on to RPA (robotic process automation) where i discover Python. To be honest at begining i didnt like it. After some time he become my favorite language.</p>
        <p>Now working as Systems Engineering Lead. I programming mostly in my free time but python is still my favorite. From Python next logical step is C++ so time will shown</p>
        <a target="_blank" href="https://prace.foxconn.cz/content/Lide-RobertDurica/" class="btn btn-view-works">Read more</a>
      </div>
    </div>
  </div>
</section>
