<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>My Stack</h2>
          <p>It is essential to have good tools, but it is also essential that the tools should be used in the right way. <br />-Wallace D. Wattles</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="fa-brands fa-python fa-3x"></i>
          <h4>Python</h4>
          <p>My primary and favorite language for development.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <img src="https://img.icons8.com/windows/64/000000/django.png" style="width: 50px" />
          <h4>Django</h4>
          <p>My go-to web framework for creating powerful web applications.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="fa-solid fa-database fa-3x"></i>
          <h4>Database</h4>
          <p>Proficient in relational databases like MariaDB and MySql.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="fa-brands fa-docker fa-3x"></i>
          <h4>Docker</h4>
          <p>Use self-hosted Docker hub to deploy applications.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="fa-brands fa-git-alt fa-3x"></i>
          <h4>Git</h4>
          <p>For version control, I use git and keeping commits clean and organized.</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <img src="https://img.icons8.com/ios-filled/50/000000/visual-studio.png" style="width: 50px" />
          <h4>Visual Studio Code</h4>
          <p>My current IDE for efficient and feature-rich development.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="fa-brands fa-linux fa-3x"></i>
          <h4>Linux</h4>
          <p>Skilled in Linux administration and experienced in deploying applications on different distributions.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="fa-brands fa-apple fa-3x"></i>
          <h4>MacOS</h4>
          <p>Professional tools are essential for creating good product</p>
        </div>
      </div>
    </div>
  </div>
</section>
