<section class="call-to-action bg-1 section-sm overly">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2 class="mb-3">Look at my work</h2>
          <p>
            Due to the nature of my work, most of my projects are completed under non-disclosure agreements and cannot be shared publicly. However, in my free time I enjoy working on hobby projects and experimenting with new technologies. In this
            section, you will find a collection of some of my personal projects, which showcase my skills in a range of different programming languages and technologies. Take a look at my coding abilities and the backend setup, it will give you a
            glimpse of my expertise.
          </p>
          <a class="btn btn-main btn-solid-border" href="{% url 'gallery:gallery' %}">Gallery</a>
        </div>
      </div>
    </div>
  </div>
</section>
