{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Header -->
{% include "profile_page/sections/header.html" %}

<!-- About me -->
{% include "profile_page/sections/about_me.html" %}

<!-- My Journey -->
{% include "profile_page/sections/my_journey.html" %}

<!-- My stack -->
{% include "profile_page/sections/my_stack.html" %}

<!-- Projects -->
{% include "profile_page/sections/projects.html" %}

<!-- Contact me -->
{% include "profile_page/sections/contact_me.html" %}

<!-- End -->
{% endblock %}
